{% extends "@layout/page.html.twig" %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center">Користувач з адміністративними правами не створений</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="login-form" method="post" class="form-horizontal" autocomplete="off">
                    <fieldset>
                        <legend>Створити адміністратора</legend>
                        {% if auch_validation %}
                            {% for errore in auch_validation %}
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ errore|raw }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">Username</label>
                            <div class="col-md-5">
                                <input id="username"
                                       name="username"
                                       type="text"
                                       placeholder="Username"
                                       value="{% if post_data.username %}{{ post_data.username|escape('html_attr') }}{% endif %}"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password">Password</label>
                            <div class="col-md-5">
                                <input id="password"
                                       name="password"
                                       type="password"
                                       placeholder="Password"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="submit"></label>
                            <div class="col-md-4">
                                <button type="submit" id="login" name="login" value="init" class="btn
                                btn-success">Створити</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}