{%- set page_navbar %}
    {% block page_navbar %}
        {% include '@layout/navbar.html.twig' %}
    {% endblock %}
{% endset -%}

{%- set page_content %}
    {% block page_content %}
    {% endblock %}
{% endset -%}

{%- set page_head %}
    {% block page_head -%}
        {% include '@layout/head.html.twig' %}
    {%- endblock %}
{% endset -%}

{%- set page_footer %}
    {% block page_footer %}
        {% include '@layout/footer.html.twig' %}
    {% endblock %}

{% endset -%}

{%- block page -%}
    {% spaceless %}
        <!DOCTYPE html>
        <html lang="en">
            {{ page_head|raw }}
            <body>
                {{ page_navbar|raw }}
                {{ page_content|raw }}
                {{ page_footer|raw }}
            </body>
        </html>
    {% endspaceless %}
{% endblock -%}